.myBtn{
    a{
        background-color: var(--main-color);
        padding: 10px 60px;
        border-radius: 10px;
        color: #FDB515;
        font-weight: bold;
        font-size: 18px;
        line-height: 34px;
    }
}
